.item {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 10px;
}

.addUserForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formBtnGroup {
    margin-top: 20px;
}
